<div class="navbar">
  <div class="logoSection "> <span class="logoText">LOGO</span> <span class="sloganText ml10">Ürün kataloğu</span> </div>
  <div class="searchSection ">
    <div class="searchBar centerize"> <img src=" ../../../assets/icons/search-3-xxl.png" class="searchBarImg mr10" alt="">
      <input type="text" placeholder="Ürün veya kategori arayın" class="searchInput ">
    </div>
  </div>
  <div class="cartSection centerize "> <a href="" class="orangeBtn">Giriş Yap/Üye Ol</a> <a href="" class="cartBtn"> <img src="../../../assets/icons/cart-2-xxl.png" alt="" class="cartImg">
    <div class="cartOval"> <span>0</span> </div>
    </a> </div>
</div>

