.navbar {
    width:  100%;
    height: 113px;
    background-color: #121420;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.logo {    
    margin-left: 50px;
    height: 100%;
    display: flex;
    align-items: center;
}

.logoText{    
      font-family: Rubik;
      font-size: 32px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1.47px;
      color: rgba(255, 255, 255, 0.8);
}

.slogan {    
    height: 100%;
    display: flex;
    align-items: center;
}
.sloganText{    
    font-family: Rubik;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
 
.searchBar{
    width: 30%;
    height: 52px;
    border-radius: 26px;
    background-color: rgba(240, 240, 241, 0.15);
    padding-left: 20px;
    padding-right: 20px;
}
.searchBar .searchIconContainer{
  float: left;
  height: 100%;
  display:flex;
  align-items:center;
}
.searchBar .searchicon{
  width: 20px;
  height: 20px;
}
.searchBar input{
    padding-left: 10px;
    float: left;
    height: 100%;
    background-color: transparent;
    border: 0px;
    color: white;
}
.searchBar input::placeholder{
   color: white;
   font-weight: bold;
}
.searchBar input:focus{
    outline: none;
}

.butonsContainer{
  margin-right: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  float: right;
  color: white;
}
.loginBtn{
    width: auto;
    height: 53px;
    border-radius: 8px;
    background-color: #f27933;
    box-shadow: rgba(240, 240, 241, 0.15);
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}
.loginBtn:hover{
  background-color: #cf6222;
}

.cartBtn{
    width: 60px;
    height: 50px;  
    background-image: url(../../../assets/icons/carticon.png);
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.itemsCount {
    
    position: absolute;
    width: 25px;
    height: 25px;
    border: solid 1px #121420;
    border-radius: 50%;
    background-color: #f27933;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    text-align: center;

  }



  .panels {
    width:  100%;
    min-height: 100%;
    background-color: #3f414a; 
 }
 .leftpanel{
  width:  50%;
  height: 100%;
  background-color: #3f414a; 
  float: left;
}
 .rightpanel{
    width:  50%;
    height: 100%;
    background-color: #ffffff;
    float: right;
 }

.row{
  height: 90px;
  width: 100%;
  padding-left: 50px;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
}
.rowFirst{
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-left: 50px;
}

.rowFirstTitle {
  font-family: Rubik;
  font-size: 29px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #ffffff;
}
.infoArea{
  float:left;
  margin-left: 50px;
}

#circle {
  width: 96px;
  height: 96px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  float: left;
}
#square {
  width: 96px;
  height: 96px;
  background-color: rgba(255, 255, 255, 0.2);
  float: left;

}
#triangle {
 
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid rgba(255, 255, 255, 0.2);
  float: left;
}


.hText{
  font-family: Rubik;
  font-size: 21px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}
.pText{
  font-family: Rubik;
  font-size: 17px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.7);
  display: block;
}


.tabFont{
  font-family: Rubik;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2d2d2d;
}
.tab{
  width: 100%;
}
.tabBtnArea{
  width: 50%;
  height: 80px;
  float:left;

}

.tabBtn{
  width: 100%;
  height: 77px;
  display: block;
  text-align: center;
  cursor: pointer;
  
}
.tabBtnLine{
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: rgba(207, 210, 212, 0.5);
 
  display: block;
}
.tabBtnLineActive{
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #f18c51;
    display: block;
}

.tabText {

  font-family: Rubik;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7e8987;
}
.tabTextActive {

  font-family: Rubik;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2d2d2d;
}


.FormText {
  margin-right: 20px;
  height: 64px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121420;
  white-space: nowrap;
}
.FormTextBox {
  width: 60%;
  height: 55px;
  border-radius: 7px;
  background-color: #ffffff;
  border: 2px solid #ececec;
}
.formRow{
  padding-left: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
  display: block;


}

 .btnSignUp {
  width: 250px;
  height: 53px;
  border-radius: 7px;
  background-color: #f27933;
  text-align: center;
  border: 2px solid #ececec;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}
.btnSignUp:hover:focus {
  background-color: #8b4b25;

}