<div class="navbar">
    <div class="logo">
        <span class="logoText">LOGO</span>
    </div>
    <div class="slogan">
        <span class="sloganText">Slogan yazısı</span>
    </div>
    <div class="searchBar">
        <div class="searchIconContainer">
            <img class="searchicon" src="../../../assets/icons/searchicon.png">
        </div>
        <input type="text" placeholder="Ürün veya kategori arayın">
    </div>
    <div class="butonsContainer">
        <a class="loginBtn">Giriş yap/Üye ol</a>

        <a class="cartBtn">
            <div class="itemsCount">9</div>
        </a>


    </div>

</div>
<div class="panels">
    <div class="leftpanel">
        <div class="rowFirst">
            <span class="rowFirstTitle">Ayrıcalıklardan yaralanın</span>
        </div>
        <div class="row">
            <div id="circle">
            </div>
            <div class="infoArea">
                <span class="hText">
                    Yüksek Kalite
                </span>

                <span class="pText">
                    Açıklama yazısı
                </span>
            </div>

        </div>


        <div class="row">
            <div id="circle">
            </div>
            <div class="infoArea">
                <span class="hText">
                    Vadeli Ödeme
                </span>

                <span class="pText">
                    Açıklama yazısı
                </span>
            </div>

        </div>


        <div class="row">
            <div id="circle">
            </div>
            <div class="infoArea">
                <span class="hText">
                    Sipariş Takibi
                </span>

                <span class="pText">
                    Açıklama yazısı
                </span>
            </div>

        </div>




    </div>
    <div class="rightpanel">
        <!-- <div class="tab">
            <div class="tabBtnArea">
                <div class="tabBtn">
                    <span class="tabText">Giriş Yap</span>
                </div>
                <div class="tabBtnLine">

                </div>
            </div>

            <div class="tabBtnArea">
                <div class="tabBtn">
                    <span class="tabTextActive">Üye Ol</span>
                </div>
                <div class="tabBtnLineActive">

                </div>
            </div>

        </div> -->


        <mat-tab-group [color]="'accent'">

            <mat-tab label="Üye Ol">
                <form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)" novalidate>
                    <div class="formRow">
                        <label class="FormText">Eposta Adresi</label>
                        <input class="FormTextBox" type="text" id="eposta" name="eposta" #eposta="ngModel"
                            [(ngModel)]="userRegisterDtoModel.Email">
                    </div>

                    <div class="formRow">
                        <label class="FormText">Vergi Kimlik No</label>
                        <input class="FormTextBox"  type="text" >
                    </div> 


                    <div class="formRow">
                        <label class="FormText">Üye Adı</label>
                        <input class="FormTextBox" type="text" id="uyeAdi" name="uyeAdi" #uyeAdi="ngModel"
                            [(ngModel)]="userRegisterDtoModel.Name">
                    </div>
                    <div class="formRow">
                        <label class="FormText">Üye Soyadı</label>
                        <input class="FormTextBox" type="text" id="uyeSoyad" name="uyeSoyad" #uyeSoyad="ngModel"
                            [(ngModel)]="userRegisterDtoModel.LastName">
                    </div>


                    <div class="formRow">
                        <label class="FormText">Firma Adı</label>
                        <input class="FormTextBox" type="text" id="firmaAdi" name="firmaAdi">
                    </div>

                    <div class="formRow">
                        <label class="FormText">Sorumlu Kişi</label>
                        <input class="FormTextBox" type="text">
                    </div>

                    <div class="formRow">
                        <label class="FormText">Sorumlu Kişi Telefon</label>
                        <input class="FormTextBox" type="text">
                    </div>

                    <div class="formRow">
                        <label class="FormText">Parola</label>
                        <input class="FormTextBox" id="parola" type="password" name="parola" #parola="ngModel"
                            [(ngModel)]="userRegisterDtoModel">
                    </div>

                    <div class="formRow">
                        <label class="FormText">Parola Tekrar</label>
                        <input class="FormTextBox" id="parolaTekrar" type="password" name="parolaTekrar"
                            #parolaTekrar="ngModel" [(ngModel)]="userRegisterDtoModel.ConfirmPassword">
                    </div>


                </form>
                <button class="btnSignUp" type="submit">Üye Ol</button>
            </mat-tab>
            <mat-tab label="Giriş Yap">İçerik 1</mat-tab>
        </mat-tab-group>



    </div>
</div>