.fright {
  float: right;
}
.fleft {
  float: left;
}
.hide {
  display: none;
}
.inputEl {
  /*Chrome, Safari*/
  /* Chrome and Safari */
  -webkit-border-top-left-radius: 40px;
  -webkit-border-top-right-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  -webkit-border-bottom-left-radius: 40px;
  /* Firefox */
  -moz-border-radius-topleft: 40px;
  -moz-border-radius-topright: 40px;
  -moz-border-radius-bottomright: 40px;
  -moz-border-radius-bottomleft: 40px;
  /* Standard Syntax */
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  height: 55px;
  border-radius: 7px;
  border: solid 0.8px #cfd2d4;
  background-color: #ffffff;
  min-width: 300px;
  max-width: 400px;
  padding: 3px 10px 3px 10px;
}
input::-webkit-input-placeholder { /* Edge */
  font-family: Rubik;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(31, 43, 47, 0.49);
}
.content input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: Rubik;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(31, 43, 47, 0.49);
}
.content input::placeholder {
  font-family: Rubik;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(31, 43, 47, 0.49);
}
.inputEl:focus {
  box-shadow: 0 0 5px #51CBEE;
  outline: none;
  padding: 3px 10px 3px 10px;
  border: 1px solid #51CBEE;
}
.labelEl {
  float: left;
  height: 64px;
  display: flex;
  align-items: center;
}
.inputRegion {
  display: block;
  width: 100%;
}
.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.rTitle {
  height: 28px;
  font-family: Rubik;
  font-size: 23px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121420;
  display: block;
}
.rTitleMin {
  height: 20px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #233d4d;
}
.dblock {
  display: block;
}
.orangeBtn {
  width: 300px;
  height: 50px;
  border-radius: 7px;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  background-color: #f27933;
  border-width: 0px;
  border: none;
  outline: 0;
  cursor: pointer;
}
.orangeBtn:focus {
  outline: none !important
}
.returnBtn {
  width: 300px;
  height: 50px;
  border-radius: 7px;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  background-color: #787a80;
}
.centerize {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.mb5 {
  margin-bottom: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mr5 {
  margin-right: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mt15 {
  margin-top: 15px;
}
.aggreement {
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 22px;
  padding-right: 22px;
  height: 84px;
  border-radius: 17px;
  border: solid 1px rgba(207, 210, 212, 0.5);
  background-color: rgba(127, 146, 186, 0.08);
}
.aggreementTextOrange {
  color: #ff7000;
  font-weight: 550;
  cursor: pointer;
}
input[type=checkbox] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: solid 1px #cfd2d4;
  background-color: rgba(207, 210, 212, 0.2);
}
.tabHeader {
  height: 80px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #4444AA;
}
.tabBtnLine {
  width: 100%;
  height: 5px;
  border-radius: 1.5px;

}
.tabBtnGroup {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  background: #F8F8F8;
  cursor: pointer;
}
.mb50 {
  margin-bottom: 50px;
}
.tabBtn {
  height: 75px;
  width: 100%;
}
.tabBtnText {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7e8987;
}
.tabBtnGroupActive {
  font-family: Rubik;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2d2d2d;
}
.tabBtnGroupActive .tabBtnLine {
  background-color: #f18c51;
}
.tabBtnGroupActive .tabBtnText {
  font-family: Rubik;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2d2d2d;
}
.centerizeVer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.uploadIcon {
  right: 15px;
  width: 25px;
}
.posRel {
  position: relative;
}
.uploadBtn {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  min-width: 300px;
  max-width: 400px;
}
.uploadBtn span {
  font-family: Rubik;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(31, 43, 47, 0.49);
}
.hiddenInput {
  visibility: hidden;
  width: 0.01;
  height: 0.01;
  opacity: 0;
  cursor: pointer;
}
.shapeColor {
  background-color: rgba(255, 255, 255, 0.2);
}
.circle {
  width: 90px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.square {
  width: 90px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.2);
}
.triangle {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 90px solid rgba(255, 255, 255, 0.2);
}
.pentagon {
  margin-top: 40px;
  position: relative;
  width: 54px;
  box-sizing: content-box;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2) transparent;
}
.pentagon:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.2);
}
.leftContent {
  width: 45%;
  height: 100%;
  background-color: #3f414a;
}
.content {
  height: 1000px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.rightContent {
  width: 55%;
  height: 100%;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.pagePaddings {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 30px;
  padding-bottom: 50px
}
.h100 {
  height: 100%;
}
.w100 {
  width: 100%;
}
.adContent {
  margin-bottom: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 80%;
  max-width: 80%;
}
.adContent h6 {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.adContent p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.7);
}
.adArea {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.adText {
  max-width: 50%;
  margin-left: 40px;
  padding: 5px;
}
.adAreaTitle {
  font-family: Rubik;
  font-size: 27px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #ffffff;
  text-align: left;
}
.mt-30 {
  margin-top: 30px;
}
.validationError {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: rgba(35, 61, 77, 0.8);
}
.inputCapsul {
  width: 70%;
}



/* CSS Document */
.navbar {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #121420;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.logoSection {
  padding-left: 5%;
}
.searchSection {
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  min-width: 30%;
}
.cartSection {
  padding-right: 5%;
}
.logoText {
  font-family: Rubik;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.47px;
  color: rgba(255, 255, 255, 0.8);
}
.sloganText {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.cartImg {
  width: 34px;
  height: 34px;
}
.cartOval {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border: solid 3px #121420;
  background-color: #f27933;
  border-radius: 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.cartOval span {
  color: #fff;
}
.searchInput {
  background-color: transparent;
  height: 100%;
  ;
  width: 100%;
  border: 0px;
  outline: 0px;
  font-family: Rubik;
  font-size: 17px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}
.navbar input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: Rubik;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #DBDBDB;
}
.navbar input::placeholder {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #DBDBDB;
}
.searchBar {
  border-radius: 26px;
  background-color: rgba(240, 240, 241, 0.15);
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.searchBarImg {
  width: 20px;
  height: 20px;
}
.cartBtn {
  margin-left: 20px;
  position: relative;
}

