<div class="navbar">
    <div class="logo">
        <span class="logoText">LOGO</span>
    </div>
    <div class="slogan">
        <span class="sloganText">Slogan yazısı</span>
    </div>
    <div class="searchBar">
        <div class="searchIconContainer">
            <img class="searchicon" src="../../../assets/icons/searchicon.png">
        </div>
        <input type="text" placeholder="Ürün veya kategori arayın">
    </div>
    <div class="butonsContainer">
        <a class="loginBtn">Giriş yap/Üye ol</a>

        <a class="cartBtn">
            <div class="itemsCount">9</div>
        </a>


    </div>

</div>
<div class="panels">
    <div class="leftpanel">
        <div class="rowFirst">
            <span class="rowFirstTitle">Ayrıcalıklardan yaralanın</span>
        </div>
        <div class="row">
            <div id="circle">
            </div>
            <div class="infoArea">
                <span class="hText">
                    Yüksek Kalite
                </span>
                
                <span class="pText">
                    Açıklama yazısı
                </span>
            </div>

        </div>


        <div class="row">
            <div id="circle">
            </div>
            <div class="infoArea" >
                <span class="hText">
                    Yüksek Kalite
                </span>
              
                <span class="pText">
                    Açıklama yazısı
                </span>
            </div>

        </div>


        <div class="row">
            <div id="circle">
            </div>
            <div class="infoArea">
                <span class="hText">
                    Yüksek Kalite
                </span>
               
                <span class="pText">
                    Açıklama yazısı
                </span>
            </div>

        </div>
    
    
      

    </div>
    <div class="rightpanel">
        
    </div>
</div>